@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.containerImages {
  padding-top: 5rem;
  flex-flow: column wrap;
  flex-wrap: wrap;
  align-content: center;
  column-count: 4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
}

.itemImage {
  border-radius: 6%;
  width: 18.5%;
  margin: 6px;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.5em;
  width: 100%;
}
.itemImage:focus {
  outline: 0;
}
.itemImage:hover {
  filter: opacity(0.9);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  font-size: 50px;
  justify-content: center;
  margin-top: 100px;
  color: black;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.logo {
  width: 35px;
}

.logo-pinterest,
.start {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 24px;
  border: none;
}
.logo-pinterest:hover,
.start:hover {
  border-radius: 35%;
}

.inputSearch {
  background-image: url(../assets/lupa.png);
  background-color: #e1e1e1;
  background-color: #e1e1e1;
  background-size: 1.6%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 1.6%;
  border-color: #e1e1e1;
  width: 1000px;
  height: 43px;
  padding: 0px 0px 0px 30px;
  border-radius: 30px;
  border: 0px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 20px;
}
.inputSearch::placeholder {
  font-size: 15px;
  padding: 10px;
}
.inputSearch:focus {
  outline: 0;
}

.description {
  font-size: 20px;
}

.closeButton {
  background-color: #e1e1e1;
  color: #a3a3a3;
  float: left;
}

.buttonSave {
  float: right;
  float: right;
}

.itemImageModal {
  float: left;
  width: 10%;
  margin: 4px;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.5em;
  width: 50%;
}
.itemImageModal:focus {
  outline: 0;
}

.profileUser {
  width: 10%;
  height: 10%;
  border-radius: 140px;
  justify-content: center;
  margin-left: 10px;
  float: left;
}

.NameUser {
  width: 10%;
  margin-right: 120px;
  float: right;
}

.likes {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  float: left;
}

.Textlikes {
  margin-top: 85px;
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
